<li id="comment-<%= comment._id %>">
    <p id="comment-content">
       
        <%= comment.content %>
        <br>
        <small style="margin-left: 10vw;">
            <%= comment.user.name %>
        
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        
            
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">Delete</a>
            </small>
            <% } %>
    </p>    

</li>