

<link rel="stylesheet" href="/css/home.css">

<h1><%=locals.title%></h1>

<div id="home_container">
<section id="feed-posts">

    <h4>Posts<h4>
        <form action="/post/create" id="new-post-feed" method="POST">

            <textarea name="content" rows="3" cols="30" placeholder="Type Here.."></textarea>
            <input type="submit" value="Post">

        </form>

            
            <ul id="all-posts" style="list-style-type:none;">
               
               <%- include('_post'); %>
              
            </ul>
            
    </section>
<section id="user-friends" >
  <h4>Friends</h4>

  <% for( u of all_users) {%>

    <p>
            <a href="/users/profile/<%=u.id%>" ><%= u.name %></a>

    </p>

    <% } %>


</section>


</div>