<div style="text-align: center;">
    <h2>Trouble Logging In ?</h2>

    <form action="/users/reset_password_email/" method="POST" style="margin-left: 3px;">
        
        <input type="email" name="email" placeholder="Enter your Email" required>
        <br><br>
        <input class="btn btn-primary" type="submit" value="Send Login Link">

        
    </form>
    <small>-------------------OR------------------</small>
    <br><br>
    
        <p><a href="/users/sign-up" style="font-size:15;color: dimgray;font-weight: bold;text-decoration:none;">Create New Account</a></p>
        
</div>