footer
{
    width: 100vw;
    position: fixed;
    top:91vh;
   
}
#footer-layout
{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #B0E0E6;
    font-family: unset;
    

    #footer-nav
    {
        
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    li{
        margin-left: 5px;
        font-weight:bold;
        margin-right: 2px;
    };
    
}