body{
    margin:0;
    /* text-align: center; */
    #layout-main
    {
        height: 75%;
      
    }
    #sign-in-container
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

#sign-in-right-container
{

    margin-left: 20vw;
    
}

#sign-in-background{
    height: 75%;
    
   background: url('../../public/assets/images/connecting_people_business_network-cac9f201ad.png') no-repeat;
    background-size: contain;
    border-radius: 2% 2% 5% 2%;
    opacity: 0.9;
   
}
